body {
  background-color: rgb(246, 246, 246);
  color: rgb(55, 53, 111);
}

.border-custom {
  --bs-border-opacity: 1;
  --bs-custom-rgb: rgb(55, 53, 111);
  border-color: rgba(var(--bs-custom-rgb), var(--bs-border-opacity)) !important;
}

.project-img {
  width: 100%;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
}
