{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}
{% block content %}

<!-- About -->
<div class="my-5">
    <h1 class="fw-bold mb-3">922 Studio</h1>
    <p class="fs-4">
        {% blocktranslate %}
        We are an indie studio based in the Canary Islands. At 922 Studio, we create fun games with a minimalist 
        design to bring a unique and enjoyable gaming experience to players all over the world. We hope you will 
        join us on this journey of creating new and exciting experiences to the indie gaming community.
        {% endblocktranslate %}
    </p>
</div>

<!-- Projects -->
<div class="my-5">
    <h1 class="fw-bold mb-4">{% translate "Projects" %}</h1>
    <div class="row row-cols-1 gy-5">
        {% for project in projects %}
        <div class="col">
            <a href="{{ project.url }}" target="_blank">
                <img class="project-img rounded-4" src={{ project.image_url }} alt="{{ project.name }} project image" />
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}